<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://restapicp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/da82854a-30cb-4dfa-acff-1231981b9663/resourcegroups/CT/providers/Microsoft.Web/sites/RestApiCP</ResourceId>
    <UserName>$RestApiCP</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://restapicp.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>